{% extends 'template.html.twig' %}


{% block body %}

<title>Blog de Carlu</title>
<section class="pt-5">

        <div class="container py-2">
        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal">
  Créer un post
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Création du post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary">Envoyer</button>
      </div>
    </div>
  </div>
</div>
    {% for blogpost in post %}

            <div class="card mb-3">
                <div class="row g-0 justify-content-center">
                    <div class="col-md-5 d-flex align-items-stretch">
                    <img src="data:image/png;, {{blogpost.img| url_encode}}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-7 d-flex align-items-stretch">
                        <div class=" card card-body">
                            <h3 class="fw-bold">{{blogpost.title}}</h3>
                            <p class="fw-light fs-5">le {{blogpost.creation_date_fr}}</p>
                            <p>{{blogpost.content}}</p>
                            <a href="/{{ MAIN_FILE }}/post/{{blogpost.id}}"><button class="btn btn-outline-dark">Voir les commentaires</button></a>
                        </div>
                    </div>
                </div>
            </div>

    {% endfor %}
        </div>
</section>    
{% endblock %}