{% extends 'template.html.twig' %}


{% block body %}

<title>Blog de Carlu</title>
<section class="pt-5">

        <div class="container py-2">
          {% if userid is not null %}        
                  <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fas fa-edit"></i> Créer un post
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Création du post</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="/{{ MAIN_FILE }}/index.php?action=addPost" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="inputTitle" class="form-label">Titre</label>
                        <input type="text" class="form-control" name="inputTitle" id="inputTitle">
                        <label for="inputContent" class="form-label mt-3">Contenu</label>
                        <textarea class="form-control" name="inputContent" id="inputContent" rows="3"></textarea>
                        <input type="file" id="postimg" name="postimg" class="form-control mt-3"/>
                        <input type="submit" id="save-post" class="invisible" name="save-post" class="form-control"/>        
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                  <label for="save-post" class="btn btn-primary mt-2">Valider la photo</label>
                </div>
              </div>
            </div>
          </div>

          {% endif %}
    {% for blogpost in post %}

            <div class="card mb-3">
                <div class="row g-0 justify-content-center">
                    <div class="col-md-5 d-flex align-items-stretch">
                    <img src="data:image/png;, {{blogpost.img| url_encode}}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-7 d-flex align-items-stretch">
                        <div class=" card card-body">
                            <h3 class="fw-bold">{{blogpost.title}}</h3>
                            <p class="fw-light fs-5">le {{blogpost.creation_date_fr}}</p>
                            <p class="truncate">{{blogpost.content}}</p>
                            <a href="/{{ MAIN_FILE }}/post/{{blogpost.id}}"><button class="btn btn-outline-dark">Voir les commentaires</button></a>
                        </div>
                    </div>
                </div>
            </div>

    {% endfor %}
        </div>
</section>    
{% endblock %}