{% extends 'template.html.twig' %}


{% block body %}


<title>Blog de Carlu</title>
<section class="pt-5 py-5">

     <div class="container col-xxl-8 px-4 py-5 ">
    <div class="row flex-lg-row-reverse align-items-center justify-content-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <embed src="public/images/CV.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="500" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Blog de Carlu Pietri</h1>
        <p class="lead">"Étudiant en développement web / Openclassrooms - PHP / Symfony chez Openclassrooms"</p>
        <div class="d-flex align-items-center gap-2 d-md-flex justify-content-md-start">
          <a href="/public/pdf/CV-for-projets.pdf" target="_blank"><button type="button" class="btn btn-dark btn-lg px-4 me-md-2"><i class="far fa-file-pdf"></i> Voir mon CV</button></a>
          <a href="https://github.com/CarluPtr" class="text-dark"><i class="fab fa-github fa-2x mx-1"></i></a>
          <a href="https://www.linkedin.com/in/carlu-pietri/" class="text-dark"><i class="fab fa-linkedin fa-2x mx-1"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-light">
  <div class="container">
    <div class="row justify-content-center">
  {% for blogpost in post|slice (0,3) %}
      <div class="col-12 col-md-4 d-flex align-items-stretch">
       <div class="card mb-3">
          <img src="data:image/png;, {{blogpost.img| url_encode}}" class="card-img-top" alt="...">
          <div class=" card card-body">
          <h3 class="fw-bold">{{blogpost.title}}</h3>
          <p class="fw-light fs-5">le {{blogpost.creation_date_fr}}</p>
          
          <p class="mt-auto truncate">
              {{blogpost.content}}
          </p>
          <a href="{{ YOUR_BASE_URL }}/{{ MAIN_FILE }}/post/{{blogpost.id}}" class="mt-auto"><button class="btn btn-outline-dark ">Voir le post</button></a>
          </div>
        </div>
      </div>
{% endfor %}
  </div>
</div>  
</section>

<section class="py-5">
  <div class="container px-4">
            <h2 class="fw-bold fs-1">Me contacter</h2>
        <div class="row gy-4 mt-5 justify-content-center">
          <div class="col-12">
            <form action="/{{MAIN_FILE}}/email" method="post" class="row g-3">
                <div class="col-12 col-md-6">
                  <label for="inputName" class="form-label">Prénom</label>
                  <input type="text" class="form-control" id="inputName" name="inputName">
                </div>
                <div class="col-12 col-md-6">
                  <label for="inputLastName" class="form-label">Nom</label>
                  <input type="text" class="form-control" id="inputLastName" name="inputLastName">
                </div>
                <div class="col-12">
                  <label for="inputEmail" class="form-label">Adresse Email</label>
                  <input type="email" class="form-control" id="inputEmail" name="inputEmail">
                </div>
                <div class="col-12">
                  <label for="inputPhone" class="form-label">Sujet</label>
                  <input type="text" class="form-control" id="inputSubject" name="inputSubject">
                </div>
                <div class="col-12">
                  <label for="inputMessage" class="form-label">Votre message</label>
                  <textarea class="form-control" id="inputMessage" name="inputMessage" rows="3"></textarea>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-dark">Envoyer</button>
                </div>
            </form>
            </div>
          </div>
          </div>
        </div>
      </div>
</section>

{% endblock %}